<h2>Docs</h2>

<div>
  <p>GET  /api/v1/users</p>
  <p>POST /api/v1/users</p>
  <p>GET  /api/v1/users/:id</p>
  <p>GET  /api/v1/contacts</p>
  <p>POST /api/v1/contacts</p>
  <p>GET  /api/v1/contacts/:id</p>
  <p>PUT  /api/v1/contacts/:id</p>
  <p>DELETE /api/v1/contacts/:id</p>
  <p>GET /api/v1/events</p>
  <p>POST /api/v1/events</p>
  <p>GET /api/v1/events/:id</p>
  <p>GET /api/v1/interactions</p>
  <p>POST /api/v1/interactions</p>
  <p>GET /api/v1/interactions/:id</p>
  <p>PUT /api/v1/interactions/:id</p>
  <p>DELETE /api/v1/interactions/:id</p>
  <p>GET /api/v1/notes</p>
  <p>POST /api/v1/notes</p>
  <p>GET /api/v1/notes/:id</p>
  <p>PUT /api/v1/notes/:id</p>
  <p>DELETE /api/v1/notes/:id</p>
</div>
